:root {
  --theme-dark: #282c34;
  --theme-accent: #008080;

  --theme-stop: #e74c3c;
  --theme-slow: #f1c40f;
  --theme-go: #9ccc65;

  --duration: 0.1s;
  background-color: var(--theme-dark);
}

body {
  width: 300px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 0
}

button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--duration) ease-in;
}

button:hover {
  transform: scale(1.1);
  transition: all var(--duration) ease-in;
}

button:disabled {
  opacity: 0.5;
}

.App {
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: var(--theme-dark);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.progress-bar,
.progress-bar-indicator {
  border-radius: 5px;
}

.progress-bar {
  height: 20px;
  border: 1px solid white;
  position: relative;
  background-color: transparent;
}

.progress-bar-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.progress-bar-parcent-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.fallacy-name:hover {
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}

.fallacy-status-invalid {
  color: var(--theme-slow)
}

.fallacy-status-found {
  color: var(--theme-stop)
}

.fallacy-status-none {
  color: var(--theme-go)
}

.api-key-controls button {
  background-color: white;
  border: none;
}

.button-cta {
  background-color: var(--theme-accent);
  color: white;
}

.spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  transform: rotate(360deg);
  animation: spin 1s ease-in-out infinite;
}

.spinner img {
  height: 100%
}

@keyframes progress-bar-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
